{% extends "users/base.html" %}
{% load static %}

{% block content %}

<h3>Create Pick Up Game</h3>
<form action="{% url 'view-pickup' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input type="text" name = 'title' class="form-control">
    </div>
    <div class="mb-3">
        <label for="Date" class="form-label">Date</label>
        <input type="date" name = 'date' class="form-control">
    </div>
    <div class="mb-3">
        <label for="Start Time" class="form-label">Start Time</label>
        <input type="time" name = 'start_time' class="form-control">
    </div>
    <div class="mb-3">
        <label for="End Time" class="form-label">End Time</label>
        <input type="time" name = 'end_time' class="form-control">
    </div>
    <div class="mb-3">
        <label for="Max Players" class="form-label">Max Players</label>
        <input type="number" name = 'max_players' class="form-control">
    </div>
    <div class="mb-3">
        <label for="Entry Price" class="form-label">Entry Price(Player Based)</label>
        <input type="number" name = 'price_per_player' id="entry_fees" class="form-control">
    </div>
    <div class="mb-3">
        <label for="Hourly Price" class="form-label">Hourly Price(Player Based)</label>
        <input type="number" name = 'hourly_price' id="hourly_price" class="form-control">
    </div>

    <button type="submit" id = 'submitButton' class="btn btn-success" disabled>Submit</button>
</form>

<script>
    const field1 = document.getElementById('entry_fees');
    const field2 = document.getElementById('hourly_price');
    const submitButton = document.getElementById('submitButton');

    function checkFields() {
        if (field1.value.trim() !== '' || field2.value.trim() !== ''){
            console.log("Hello")
            submitButton.disabled = false;
        }
        else{
            console.log("Hello")
            submitButton.disabled = true;
        }
    }

    field1.addEventListener('input', checkFields);
    field2.addEventListener('input', checkFields);
</script>

{% endblock content %}