{% extends "users/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <title>FUZOLO</title>
</head>
<body>

    <div class="login-container">
        <h1>You have been logged out</h1>
        <a href="{% url 'mobile-login' %}">
            <button>Login/Signup</button>
        </a>
    </div>

</body>
</html>


{% endblock content %}


