{% extends "users/base.html" %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile|FUZOLO</title>
</head>
<body>

    <div class="profile-page">
        <h1>Your Profile</h1>

        <div class="profile-page-detail">
            <div class="profile-page-inputs name-display">
                <p>Name :</p>
                <input type="text" value="{{ user_details.name }}" disabled="disabled">
            </div>

            <div class="profile-page-inputs email-display">
                <p>Email :</p>
                <input type="email" value="{{ user_details.email }}" disabled="disabled">
            </div>

            <div class="profile-page-inputs number-display">
                <p>Phone Number :</p>
                <input type="text" value="{{ user_details.phone_number }}" disabled="disabled">
            </div>

            <div class="profile-page-inputs  points-display">
                <p>Points :</p>
                <input type="number" value="{{ user_details.points }}" disabled="disabled">
                <form action="{% url 'add-points' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="200">Add 200 Points</button>
                </form> 
            </div>
        </div>

    </div>
</body>
</html>

{% endblock content %}